<h1>ثبت گوشی جدید</h1>
<h2>
  اگر برند یا کشور سازنده در لیست انتخابی نیست،ابتدا آنها را با کلید مربوطه ثیت
  کنید
</h2>
{% if massage %}
<h3>{{ massage }}</h3>
{% endif %}
<form action="{% url 'phones:register_mobile' %}" method="post">
  {% csrf_token %}
  {{ mobile_form.as_p }}
  <input type="submit" value=" ثبت " />
</form>

<a href="{% url 'phones:register_anufacturer' %}">
  <button>ثبت کشور سازنده جدید</button>
</a>
<br />
<a href="{% url 'phones:register_brand' %}">
  <button>ثبت برند جدید</button>
</a>
