<h1>گزارش گیری</h1>
<br>
<form action="{% url 'phones:report' %}" method="post">
{% csrf_token %}
{{ brand_nat_form }}
<input type="submit" value=" مشاهده برند های این ملیت ">
</form>
<br><br>
<form action="{% url 'phones:report' %}" method="post">
{% csrf_token %}
{{ brand_mob_form }}
<input type="submit" value=" مشاهده لیست موبایل تحت این برند ">
</form>
<br><br>
<form action="{% url 'phones:report' %}" method="post"><input type="submit" value=" فیلتر برابری کشور سازنده با ملیت برند "></form>
